{% set sponsors = site.query('/sponsors').include_undiscoverable(True) %}

.sponsor-logos
    div.heading
        h3 Diamond

    .item-list
        {% for sponsor in sponsors.filter(F.tier == "diamond") %}
        .item.diamond
            a.bg-contain(
                href="{{sponsor.website}}"
                target="_blank"
                ff-bg="{{sponsor.url_path }}/{{sponsor.logo}}"
            )
        {% endfor %}

    {% if sponsors.filter(F.tier == "platinum") %}
    div.heading
        h3 Platinum


    .item-list
        {% for sponsor in sponsors.filter(F.tier == "platinum") %}
        .item.platinum
            a.bg-contain(
                href="{{sponsor.website}}"
                target="_blank"
                ff-bg="{{sponsor.url_path }}/{{sponsor.logo}}"
            )
        {% endfor %}
    {% endif %}

    {% if sponsors.filter(F.tier == "gold") %}
    div.heading
        h3 Gold

    .item-list
        {% for sponsor in sponsors.filter(F.tier == "gold") %}
        .item.gold
            a.bg-contain(
                href="{{sponsor.website}}"
                target="_blank"
                ff-bg="{{sponsor.url_path }}/{{sponsor.logo}}"
            )
        {% endfor %}
    {% endif %}

    {% if sponsors.filter(F.tier == "silver") %}
    div.heading
        h3 Silver

    .item-list
        {% for sponsor in sponsors.filter(F.tier == "silver") %}
        .item.silver
            a.bg-contain(
                href="{{sponsor.website}}"
                target="_blank"
                ff-bg="{{sponsor.url_path }}/{{sponsor.logo}}"
            )
        {% endfor %}
    {% endif %}
