doctype html

html

    head
        title {% block page_title %}PyCascades - 2019 - Seattle, WA{% endblock %}
        meta(charset="UTF-8")
        meta(http-equiv="content-Language", content="en_US")
        meta(name="google", content="notranslate") {# TEMP #}
        meta(
            name="viewport",
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"
        )
        meta(
            name="description",
            content="Website for PyCascades 2019, a regional Python conference in the Pacific Northwest. This time in Seattle, Washington, USA."
        )
        meta(
            name="keywords",
            content="Python,PyCon,Conference,Seattle,PNW"
        )
        meta(property="og:url", content="http://www.pycascades.com")
        meta(
            property="og:description",
            content="Website for PyCascades 2019, a regional Python conference in the Pacific Northwest, this time in Seattle, Washington, USA."
        )
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
        )
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900"
        )
        link(
            rel="stylesheet",
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        )
        link(rel="stylesheet", type="text/css", href="{{ CSS_URL }}")
        script(src="{{ JS_URL }}")

        block extrahead

    body(class="{% block body_class %}{% endblock %}")

        #page(ng-controller="Ctrl")

            header(headroom, ng-class="{scrolling:isScrolling,up:waypoints.info.up,down:waypoints.info.down}")
                .container
                    .logo
                        a.bg-contain.bg-ir(
                            href="{{ SITE_URL }}",
                            ff-bg="/static/images/header-logo.png"
                        ) PyCascades 2019
                {% include "includes/nav.jade" %}

            #main
                block main

                block logos
                    #sponsors.container
                        {% include "includes/sponsor_logos.jade" %}

            #banner
                a(href="/news/2-cfp-now-open/")
                    strong CFP#[br]is now open!

            footer
                .container
                    ul.links
                        li
                            a(href="{{ '/code-of-conduct'|url }}") Code of Conduct
                        li.slack
                            a(href="{{ bag('pycascades.SLACK_URL') }}", target="_blank")
                                |#[i.fa.fa-slack] PyCascades
                        li.twitter
                            a(href="{{ bag('pycascades.TWITTER_URL') }}", target="_blank")
                                |#[i.fa.fa-twitter] PyCascades
                        li.instagram
                            a(href="{{ bag('pycascades.INSTAGRAM_URL') }}", target="_blank")
                                |#[i.fa.fa-instagram] PyCascades

            a#menu-trigger.bg-contain(
                ff-bg="/static/images/menu.svg",
                ng-click="isMenuVisible=!isMenuVisible"
            )
            #menu.ng-cloak(
                ng-show="isMenuVisible",
                ng-click="isMenuVisible=false"
            )
                a.close.bg-contain(
                    ff-bg="/static/images/close.svg",
                    ng-click="isMenuVisible=false"
                )
                {% include "includes/nav.jade" %}

        block bottom
            script.
                var data = {};
                pycascades.start(data);

        block analytics
            {% set GOOGLE_ANALYTICS_ID = bag('pycascades.GOOGLE_ANALYTICS_ID') %}
            {% if envvars('IS_LIVE') and GOOGLE_ANALYTICS_ID %}
            script.
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
                ga('send', 'pageview');
            {% endif %}
