doctype html

html

    head
        title {% block page_title %}PyCascades 2019 &ndash; Seattle, WA{% endblock %}
        meta(charset="UTF-8")
        meta(http-equiv="content-Language", content="en_US")
        meta(name="google", content="notranslate") {# TEMP #}
        meta(
            name="viewport",
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"
        )
        meta(
            name="description",
            content="Website for PyCascades 2019, a regional Python conference in the Pacific Northwest. This time in Seattle, Washington, USA."
        )
        meta(
            name="keywords",
            content="Python,PyCon,Conference,Seattle,PNW"
        )
        meta(property="og:url", content="http://www.pycascades.com")
        meta(
            property="og:description",
            content="Website for PyCascades 2019, a regional Python conference in the Pacific Northwest, this time in Seattle, Washington, USA."
        )
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
        )
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900"
        )
        link(
            rel="stylesheet",
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        )
        link(rel="stylesheet", type="text/css", href="{{ CSS_URL }}")
        script(src="{{ JS_URL }}")

        block extrahead

    body(class="{% block body_class %}{% endblock %}")

        #page(ng-controller="Ctrl")

            header(headroom, ng-class="{scrolling:isScrolling,up:waypoints.info.up,down:waypoints.info.down}")
                .container
                    .logo
                        a.bg-contain.bg-ir(
                            href="/automate",
                            ff-bg="/static/images/header-logo.png"
                        ) PyCascades 2019
                {% include "includes/nav.jade" %}

            #main
                block main
            
            #banner
                a(href="https://ti.to/six-feet-up/indypy-conf")
                    strong Register#[br]Here

            footer
                .container
                    ul.links
                        li
                            a(href="{{ '/code-of-conduct'|url }}") Code of Conduct
                        li.slack
                            a(href="{{ bag('pycascades.SLACK_URL') }}", target="_blank")
                                |#[i.fa.fa-slack] IndyPy
                        li.twitter
                            a(href="{{ bag('pycascades.TWITTER_URL') }}", target="_blank")
                                |#[i.fa.fa-twitter] IndyPy
                        li.youtube
                            a(href="{{ bag('pycascades.YOUTUBE_URL') }}", target="_blank")
                                |#[i.fa.fa-youtube] IndyPy

                    block logos
                        {% include "includes/sponsor_logos_smol.jade" %}

            a#menu-trigger.bg-contain(
                ff-bg="/static/images/menu.svg",
                ng-click="isMenuVisible=!isMenuVisible"
            )
            #menu.ng-cloak(
                ng-show="isMenuVisible",
                ng-click="isMenuVisible=false"
            )
                a.close.bg-contain(
                    ff-bg="/static/images/close.svg",
                    ng-click="isMenuVisible=false"
                )
                {% include "includes/nav.jade" %}

        block bottom
            script.
                var data = {};
                pycascades.start(data);

