doctype html

html

    head

        title
            {% block page_title %}
            {% if this.is_child_of('/automate') %}IndyPy Automate Conf ’19 &ndash; Fishers, IN{% endif %}

            {% if this.is_child_of('/webconf') %}IndyPy Web Conf ’19 &ndash; Fishers, IN{% endif %}

            {% if this.is_child_of('/pydata') %}IndyPy pydata Conf ’19 &ndash; Indianapolis, IN{% endif %}
            {% endblock %}


        meta(charset="UTF-8")
        meta(http-equiv="content-Language", content="en_US")
        meta(name="google", content="notranslate") {# TEMP #}
        meta(
            name="viewport",
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"
        )
        {% if this.is_child_of('/automate') %}
        meta(
            name="description",
            content="Website for IndyPy Automate Conf ’19, a regional Python conference for automation in Fishers, IN USA."
        )
        {% endif %}
        {% if this.is_child_of('/webconf') %}
        meta(
            name="description",
            content="Website for IndyPy Webconf Conf ’19, a regional Python conference for automation in Fishers, IN USA."
        )
        {% endif %}
        {% if this.is_child_of('/pydata') %}
        meta(
            name="description",
            content="Website for IndyPy Pydata Conf ’19, a regional Python conference for automation in Fishers, IN USA."
        )
        {% endif %}
        meta(
            name="keywords",
            content="Python,PyCon,Conference,Indianapolis,Fishers,Automation"
        )
        meta(property="og:url", content="http://2019.indypy.org/automate")
        meta(
            property="og:description",
            content="Website for IndyPy Automate Conf ’19, a regional Python conference for automation in Fishers, IN USA."
        )
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
        )
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900"
        )
        link(
            rel="stylesheet",
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        )
        link(rel="stylesheet", type="text/css", href="{{ CSS_URL }}")
        script(src="{{ JS_URL }}")

        block extrahead

    body(class="{% block body_class %}{% endblock %}
                page_{{ this._slug }}
                {% if this.is_child_of('/automate') %}site-automate{% endif %}
                {% if this.is_child_of('/webconf') %}site-webconf{% endif %}
                {% if this.is_child_of('/pydata') %}site-pydata{% endif %}
               ")

        #page(ng-controller="Ctrl")

            header(headroom, ng-class="{scrolling:isScrolling,up:waypoints.info.up,down:waypoints.info.down}")
                .container
                    .logo
                        {% if this.is_child_of('/automate') %}
                        a.bg-contain.bg-ir(
                            href="/automate",
                            ff-bg="/static/images/header-logo.png"
                        ) IndyPy Automate Conf ’19
                        {% endif %}
                        {% if this.is_child_of('/webconf') %}
                        a.bg-contain.bg-ir(
                            href="/webconf",
                            ff-bg="/static/images/webconf-header-logo.png"
                        ) IndyPy Automate Conf ’19
                        {% endif %}
                        {% if this.is_child_of('/pydata') %}
                        a.bg-contain.bg-ir(
                            href="/pydata",
                            ff-bg="/static/images/pydata-header-logo.png"
                        ) IndyPy Pydata Conf ’19
                        {% endif %}
                {% if this.is_child_of('/automate') %}{% include "includes/automate_nav.jade" %}{% endif %}
                {% if this.is_child_of('/webconf') %}{% include "includes/webconf_nav.jade" %}{% endif %}
                {% if this.is_child_of('/pydata') %}{% include "includes/pydata_nav.jade" %}{% endif %}

            #main
                block main

            #banner
                a(href="{% if this.is_child_of('/automate') %}https://ti.to/six-feet-up/indypy-conf{% endif %}
                        {% if this.is_child_of('/webconf') %}https://ti.to/six-feet-up/indypy-web-conf-2019{% endif %}
                        {% if this.is_child_of('/pydata') %}https://ti.to/six-feet-up/pydata-indy-2019{% endif %}")
                    strong Register#[br]Here

            footer
                .container
                    ul.links
                        li
                            a(href="{{ '/automate/code-of-conduct'|url }}") Code of Conduct
                        li.slack
                            a(href="{{ bag('settings.SLACK_URL') }}", target="_blank")
                                |#[i.fa.fa-slack] IndyPy
                        li.twitter
                            a(href="{{ bag('settings.TWITTER_URL') }}", target="_blank")
                                |#[i.fa.fa-twitter] IndyPy
                        li.youtube
                            a(href="{{ bag('settings.YOUTUBE_URL') }}", target="_blank")
                                |#[i.fa.fa-youtube] IndyPy
                        li.email
                            a(href="mailto:info@indypy.org")
                                |#[i.fa.fa-at] Contact Us

                    block logos
                        {% include "includes/sponsor_logos_smol.jade" %}

                    p.thanks Thanks to <a href="https://2019.pycascades.com/" target="_blank">PyCascades</a> for the website template used on this site!

            a#menu-trigger.bg-contain(
                ff-bg="/static/images/menu.svg",
                ng-click="isMenuVisible=!isMenuVisible"
            )
            #menu.ng-cloak(
                ng-show="isMenuVisible",
                ng-click="isMenuVisible=false"
            )
                a.close.bg-contain(
                    ff-bg="/static/images/close.svg",
                    ng-click="isMenuVisible=false"
                )
                {% if this.is_child_of('/automate') %}{% include "includes/automate_nav.jade" %}{% endif %}
                {% if this.is_child_of('/webconf') %}{% include "includes/webconf_nav.jade" %}{% endif %}

        block bottom
            script.
                var data = {};
                indypy.start(data);
