extends "base.jade"

block body_class
    |home

block main

    section#intro
        .background(du-parallax, y="animator")
            {% if this.is_child_of('/automate') %}
            .image.bg-cover(ff-bg="/static/backgrounds/conference-room.jpg")
            {% endif %}
            {% if this.is_child_of('/webconf') %}
            .image.bg-cover(ff-bg="/static/backgrounds/conference-room-3.jpg")
            {% endif %}
            {% if this.is_child_of('/pydata') %}
            .image.bg-cover(ff-bg="/static/backgrounds/iStock-1138876390.jpg")
            {% endif %}
        .overlay
        .main.vcontainer
            .inner
                {% if this.is_child_of('/automate') %}
                .logo.bg-contain(ff-bg="/static/images/logo.png")
                .dates.
                    March 22, 2019
                {% endif %}
                {% if this.is_child_of('/webconf') %}
                .logo.bg-contain(ff-bg="/static/images/webconf-logo.png")
                .dates.
                    August 23rd, 2019
                {% endif %}
                {% if this.is_child_of('/pydata') %}
                .logo.bg-contain(ff-bg="/static/images/PyDataIndy-FullColor.png")
                .dates.
                    October 11th, 2019
                {% endif %}
        a.down(ng-click="scrollTo('welcome')")
            {% include "includes/chevron-down.svg" %}

    section#welcome
        .background
        .overlay
        .main.vcontainer
            .inner
                .container
                    .row.fade-up(in-view)
                        .one-half.column
                            {% if this.is_child_of('/automate') %}
                            h2 2019 &mdash; Fishers
                            {% endif %}
                            {% if this.is_child_of('/webconf') %}
                            h2 2019 &mdash; Virtual
                            {% endif %}
                            {% if this.is_child_of('/pydata') %}
                            h2 2019 &mdash;  Indianapolis
                            {% endif %}

                        .one-half.column
                            {% if this.is_child_of('/automate') %}
                            p.
                                IndyPy Conf kicks off the 2019 conference series
                                with a full day of talks on Automation, Orchestration
                                and IoT using Python.
                            p.
                                Organized by Six Feet Up, the Indianapolis Python Meetup
                                (“IndyPy”) is a leading national group promoting the Python
                                programming language and connecting the Python community.
                                IndyPy draws Python enthusiasts from the entire Midwest for
                                regular events. In 2018, the group celebrated 11 years of
                                success with over 1,500 members.
                            h3.caps.
                                March 22nd, 2019#[br]
                                Fishers, IN USA
                            {% endif %}
                            {% if this.is_child_of('/webconf') %}
                            p.
                                The Python Web Conf is a virtual event that features international tech experts presenting on 24 topics such as microservices, identity management, machine learning and CI/CD. The talks are split into 3 exciting tracks: “App Dev”, “Cloud Native” and “Automate & Deploy”. Each track is accessible live via Zoom and participants can chat via Slack channels. Access to presentations and post-event recordings will be available exclusively to registered attendees.
                            p.
                                WHEN: Friday, August 23rd 2019 from 7:45 am US ET to 4:40 pm US ET (UTC - 4h)
                            p.
                                WHERE: Online
                            p.
                                WHAT: <a href="https://2019.indypy.org/webconf/schedule"> See the 3 tracks </a>
                            p.
                                REGISTER TODAY: Professionals: $50 | Students: $20
                            h3.caps.
                                August 23rd, 2019#[br]
                            {% endif %}
                            {% if this.is_child_of('/pydata') %}
                            p.
                                IndyPy Conf's 2019 conference series presents: PyData Indy. Join us for this conference focused on Python on the Web, meet fellow Pythonistas, and party with the Sixies.

                            p.
                                Organized by Six Feet Up, the Indianapolis Python Meetup (“IndyPy”) is a leading national group promoting the Python programming language and connecting the Python community. IndyPy draws Python enthusiasts from the entire Midwest for regular events. In 2019, the group celebrates 12 years of success with over 1,600 members.
                            h3.caps.
                                October 11th, 2019#[br]
                                Indianapolis, IN USA
                            {% endif %}

    section#newsletter
        .background(du-parallax, y="animator")
            .image.bg-cover(ff-bg="/static/backgrounds/announcements.jpg")
        .overlay
        .main.vcontainer
            .inner
                .container.fade-up(in-view)
                    .row
                        h2 Follow The Conversation
                        p.
                            Join us on Meetup to keep up-to-date on the latest news.

                        p
                            a.button.join(
                                href="https://www.meetup.com/indypy/",
                                target="_blank"
                            ) Join IndyPy

                    .row
                        .one-third.column.social
                            a(
                                href="{{ bag('settings.TWITTER_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-twitter]
                            | You can also follow us.

                        .one-third.column.social
                            a(
                                href="{{ bag('settings.YOUTUBE_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-youtube]
                            | Or watch our videos.

                        .one-third.column.social
                            a(
                                href="{{ bag('settings.SLACK_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-slack]

                            | Or join our Slack team.

    section#sponsors
        .main.vcontainer
            .inner
                .container
                    {% include "/includes/sponsor_logos.jade" %}
